* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

body {
  background-color: rgb(16, 16, 16);
  color: gainsboro;
}

header h1 {
  font-size: 3em;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 4fr 6fr 4fr;
  grid-template-rows: 256px;
}

#thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-position: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

#thumbnail-container img {
  margin: auto;
  padding: 2px;
  width: 12.5%;
  height: auto;
}

#maximized-image-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 6fr 1.5fr;
  grid-template-rows: 1792px;
}

#maximized-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-position: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  img {
    margin: auto;
    padding: 2px;
  }
}
